.title {
    -fx-font-size: 16;
    -fx-fill: darkcyan;
}

.tab {
    -fx-background-color: lightseagreen;
}

.tab:selected {
    -fx-background-color: lightskyblue;
}

.bg {
    -fx-background: aqua;
}

.context-menu {
    -fx-background-color: lavender;
}

.righttxt {
    -fx-text-alignment: right;
    -fx-fill: aqua;
}

.centertxt {
    -fx-text-alignment: center;
}

.notify {
    -fx-font-size: 14;
    -fx-fill: darkcyan;
}